name: Rust Test and Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        example: [revo, revo/example, social_distance, evo_salesman, funtree]

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pkg-config \
            libfontconfig1-dev \
            libglib2.0-dev \
            libfreetype6-dev \
            libx11-dev \
            libxrender-dev \
            libxft-dev

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Build and test ${{ matrix.example }}
        run: |
          cd ${{ matrix.example }}
          cargo fmt -- --check
          cargo clippy -- -D warnings
          cargo build --verbose
          cargo test --verbose
