name: Rust Test and Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        example: [revo, revo/example, social_distance, evo_salesman, funtree]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Build and test ${{ matrix.example }}
        run: |
          cd ${{ matrix.example }}
          cargo fmt -- --check
          cargo clippy -- -D warnings
          cargo build --verbose
          cargo test --verbose
